# in this notebook I'll export the clean csv files one by one 


lendingclub_2017Q1.csv

lendingclub_2017Q2.csv

lendingclub_2017Q3.csv

lendingclub_2017Q4.csv

lendingclub_2018Q1.csv

lendingclub_2018Q2.csv

lendingclub_2018Q3.csv

lendingclub_2018Q4.csv

lendingclub_2019Q1.csv

lendingclub_2019Q2.csv

lendingclub_2019Q3.csv

In [1]:
import pandas as pd 
import numpy as np

import datetime

In [2]:
df = pd.read_csv('data/lendingclub_2017Q4.csv', header=1) #, header=1

/Users/alicjaligas/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
len(df.select_dtypes('object').columns)

38

In [1998]:
df.shape

(118650, 150)

In [1999]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,126186267,NaN,20000.0,20000.0,20000.0,60 months,28.72%,631.44,F,F1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,126206341,NaN,7800.0,7800.0,7800.0,36 months,10.91%,255.03,B,B4,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,126394835,NaN,11000.0,11000.0,11000.0,36 months,11.99%,365.31,B,B5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,126408725,NaN,10000.0,10000.0,10000.0,60 months,16.02%,243.29,C,C5,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,126414116,NaN,20000.0,20000.0,20000.0,36 months,6.08%,609.17,A,A2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [2000]:
df.isnull().sum()

id                            0
member_id                118650
loan_amnt                     2
funded_amnt                   2
funded_amnt_inv               2
                          ...
settlement_status        116896
settlement_date          116896
settlement_amount        116896
settlement_percentage    116896
settlement_term          116896
Length: 150, dtype: int64

# DROP COLUMNS

In [2001]:
null_count = pd.DataFrame(df.isnull().sum()).rename(columns={0:'count'}).sort_values('count')
null_count.loc[null_count['count']>0]

                                             count
mo_sin_old_rev_tl_op                             2
delinq_amnt                                      2
chargeoff_within_12_mths                         2
acc_open_past_24mths                             2
inq_last_12m                                     2
...                                            ...
hardship_loan_status                        117927
hardship_start_date                         117927
orig_projected_additional_accrued_interest  118094
member_id                                   118650
desc                                        118650

[149 rows x 1 columns]

In [2002]:
#drop settlement cols, except flag and term
#drop cols related to settlement, except debt set flag - binarize

# Flags whether or not the borrower, who has charged-off, is working with a debt-settlement company.
# A charge-off is a debt, for example on a credit card, 
# that is deemed unlikely to be collected by the creditor because 
# the borrower has become substantially delinquent after a period of time.

sr_null = pd.Series(null_count.index)

col_ls = list(sr_null.loc[sr_null.str.contains(pat='sett')])

col_ls = col_ls[1:]
col_ls.remove('settlement_term')
df.drop(columns=col_ls, inplace=True)

In [2003]:
#drop joint cols except for dti 

col_ls = list(sr_null.loc[sr_null.str.contains(pat='joint')])
col_ls.remove('dti_joint')
df.drop(columns=col_ls, inplace=True)

In [2004]:
df.shape

(118650, 142)

In [2005]:
#drop cols related to sec applicant other than fico range

col_ls = list(sr_null.loc[sr_null.str.contains(pat='sec')])

df[col_ls].isnull().sum()

col_ls.remove('sec_app_fico_range_high')
col_ls.remove('sec_app_fico_range_low')

df.drop(columns=col_ls, inplace=True)

In [2006]:
df.shape

(118650, 132)

In [2007]:
#drop harship cols except flag

col_ls = list(sr_null.loc[sr_null.str.contains(pat='hard')])
col_ls = col_ls[1:]
df.drop(columns=col_ls, inplace=True)

In [2008]:
#drop deferral term 

col_ls = list(sr_null.loc[sr_null.str.contains(pat='def')])
df.drop(columns=col_ls, inplace=True)

In [2009]:
#drop id cols and url

col_ls = list(sr_null.loc[sr_null.str.contains(pat='id')])
col_ls.append('url')
df.drop(columns=col_ls, inplace=True)

In [2010]:
#drop outstanding principal cols 

col_ls = list(sr_null.loc[sr_null.str.contains(pat='out')])
df.drop(columns=col_ls, inplace=True)

In [2011]:
#drop total cols - too complicated 

col_ls = list(sr_null.loc[sr_null.str.contains(pat='tot')])
df.drop(columns=col_ls, inplace=True)

In [2012]:
#keep funded amount drop loan amount
#drop other cols 

#initial_list_status - withdrawn or funded, but only inital so drop


col_ls = ['addr_state', 'collections_12_mths_ex_med', 'collection_recovery_fee', 'desc',
          'earliest_cr_line', 'emp_title', 'funded_amnt_inv', 'initial_list_status', 'last_fico_range_low', 
          'last_fico_range_high', 'issue_d', 'last_credit_pull_d', 
          'last_pymnt_d', 'loan_amnt', 'next_pymnt_d', 'orig_projected_additional_accrued_interest',
          'payment_plan_start_date', 'policy_code', 'purpose', 'sub_grade', 'tax_liens', 'zip_code'] 

df.drop(columns=col_ls, inplace=True)

In [5]:
len(['addr_state', 'collections_12_mths_ex_med', 'collection_recovery_fee', 'desc',
          'earliest_cr_line', 'emp_title', 'funded_amnt_inv', 'initial_list_status', 'last_fico_range_low', 
          'last_fico_range_high', 'issue_d', 'last_credit_pull_d', 
          'last_pymnt_d', 'loan_amnt', 'next_pymnt_d', 'orig_projected_additional_accrued_interest',
          'payment_plan_start_date', 'policy_code', 'purpose', 'sub_grade', 'tax_liens', 'zip_code'])

22

In [2013]:
df.shape

(118650, 78)

In [2014]:
null_count = pd.DataFrame(df.isnull().sum()).rename(columns={0:'count'}).sort_values('count')
null_count.loc[null_count['count']>0]

                          count
funded_amnt                   2
open_acc_6m                   2
open_act_il                   2
open_il_12m                   2
open_il_24m                   2
...                         ...
mths_since_last_record   100721
dti_joint                101439
sec_app_fico_range_low   101439
sec_app_fico_range_high  101439
settlement_term          116896

[78 rows x 1 columns]

imput informat object w None, all num w 0 -- drop col that don't provide info 

drop desc -- but look at this col again, with compiled data, might be able to do some NLP 

drop any settlement & hardship cols -- title gives this info -- look up hardship debt 

drop  'url',  'pymnt_plan', 'hardship_flag', 'verification_status_joint', 
'initial_list_status', 'purpose', 'emp_title', 'loan_amnt', 'funded_amnt_inv', 'sub_grade'

take avg fico score 

binarize debt_settlement_flag', 'hardship_flag'

acc_now_delinq

df.pymnt_plan.value_counts() #binarize 

df.recoveries.value_counts()
#keep

keep settlement term 

drop deferral term

#BINARIZE settlement_term !!!!!

# Null Values

In [2015]:
num_cols = df.select_dtypes(['int', 'float']).columns

null_dict = {k: 0 for k in num_cols}
df.fillna(value=null_dict, inplace=True)

In [2016]:
# ob_cols = df.select_dtypes(['object']).columns

# null_dict = {k:  for k in ob_cols}
# df.fillna(value=ob_dict, inplace=True)

# Object Cols

In [2017]:
df.select_dtypes('object').columns

Index(['term', 'int_rate', 'grade', 'emp_length', 'home_ownership',
       'verification_status', 'loan_status', 'pymnt_plan', 'title',
       'revol_util', 'application_type', 'hardship_flag',
       'debt_settlement_flag'],
      dtype='object')

In [2018]:
df['term'].value_counts()

 36 months    82677
 60 months    35971
Name: term, dtype: int64

In [2019]:
df['int_rate']

0          28.72%
1          10.91%
2          11.99%
3          16.02%
4           6.08%
           ...
118645     11.99%
118646     21.45%
118647     21.45%
118648        NaN
118649        NaN
Name: int_rate, Length: 118650, dtype: object

In [2020]:
#converted int_rate col to float 

df['int_rate'] = df['int_rate'].str.replace('%', '').astype(float)

In [2021]:
#change revol_util to floats from percentages

df['revol_util'] = df['revol_util'].str.replace('%', '').astype(float)

In [2022]:
null_count = pd.DataFrame(df.isnull().sum()).rename(columns={0:'count'}).sort_values('count')
null_count.loc[null_count['count']>0]

                      count
int_rate                  2
pymnt_plan                2
hardship_flag             2
term                      2
grade                     2
debt_settlement_flag      2
home_ownership            2
verification_status       2
loan_status               2
title                     2
application_type          2
revol_util              193
emp_length             9724

In [2023]:
#change earliest_cr_lin to datetime
#all joint & sec cols refer to joint loans
#binarize debt_settlement_flag, application_type
#binarize verification status
#dummy grade, subgrade, emp_length, home ownership, loan status, purpose

In [2024]:
df.debt_settlement_flag = df.debt_settlement_flag.map({'N':0, 'Y':1})

In [2025]:
df.application_type.value_counts()

Individual    101437
Joint App      17211
Name: application_type, dtype: int64

In [2026]:
df['joint_app'] = df.application_type.map({'Individual': 0, 'Joint App': 1})
df.drop(columns=['application_type'], inplace=True)

In [2027]:
#binarize verification status
#dummy grade, subgrade, emp_length, home ownership, loan status, purpose

df['verification_status'].value_counts()

Not Verified       47745
Source Verified    42757
Verified           28146
Name: verification_status, dtype: int64

In [2028]:
df['income_verified'] = df['verification_status'].map(lambda x: 0 if x == "Not Verified" else 1)
df.drop(columns=['verification_status'], inplace=True)

In [2029]:
#df.drop(columns=['purpose'], inplace=True)

In [2030]:
df.term.value_counts()

 36 months    82677
 60 months    35971
Name: term, dtype: int64

In [2031]:
df['term_6_yr'] = df.term.map({' 36 months': 0, ' 60 months': 1})
df.drop(columns=['term'], inplace=True)

In [2032]:
null_count = pd.DataFrame(df.isnull().sum()).rename(columns={0:'count'}).sort_values('count')
null_count.loc[null_count['count']>0]

                      count
hardship_flag             2
joint_app                 2
int_rate                  2
debt_settlement_flag      2
pymnt_plan                2
term_6_yr                 2
home_ownership            2
loan_status               2
title                     2
grade                     2
revol_util              193
emp_length             9724

In [2033]:
df['pymnt_plan'] = df['pymnt_plan'].map({'n': 0, 'y': 1})

In [2034]:
df['hardship_flag'] = df['hardship_flag'].map({'N': 0, 'Y': 1})

In [2035]:
# for i in list(df.select_dtypes('object').columns): 
#     print()
#     print(i)
#     print(df[i].value_counts())
#     print()

# Dummy Cols

In [2036]:
pd.get_dummies(df['grade'], prefix='grade', drop_first=True)

df = pd.concat([df.drop(columns='grade'), pd.get_dummies(df['grade'], 
                                                         prefix='grade', drop_first=True)], axis=1)

In [2037]:
drop_index = list(df.loc[pd.isnull(df['emp_length'])==True].index)
df.drop(index=drop_index, inplace=True)

df.reset_index(drop=True, inplace=True)

df.emp_length = df.emp_length.str.replace('\D', '').astype(int)

pd.get_dummies(df['emp_length'], prefix='emp_length', drop_first=True)

df = pd.concat([df.drop(columns='emp_length'), pd.get_dummies(df['emp_length'], 
                                                              prefix='emp_length', drop_first=True)], axis=1)

In [2038]:
df.home_ownership = df.home_ownership.str.lower()
df.home_ownership.value_counts()

df.home_ownership = df.home_ownership.map(lambda x: 'other' if (x == 'any') | (x == 'none') else x)

drop_index = list(df.loc[df.home_ownership=='other'].index)
df.drop(index=drop_index, inplace=True)

df.reset_index(drop=True, inplace=True)

df.home_ownership.value_counts()

mortgage    52800
rent        43168
own         12957
Name: home_ownership, dtype: int64

In [2039]:
df = pd.concat([df.drop(columns='home_ownership'), pd.get_dummies(df['home_ownership']
                                                                 ).drop(columns=['rent'])], axis=1)

In [2040]:
#loan status
df.loan_status=df.loan_status.str.lower()

df.loan_status=df.loan_status.str.replace('\W', ' ')

df.loan_status = df.loan_status.str.replace(' ', '_')

df.loan_status.value_counts()

current               56725
fully_paid            38108
charged_off           11262
late__31_120_days_     1896
in_grace_period         633
late__16_30_days_       295
default                   6
Name: loan_status, dtype: int64

In [2041]:
pd.get_dummies(df['loan_status'], prefix='status').drop(columns=['status_current'])


df = pd.concat([df.drop(columns='loan_status'), pd.get_dummies(df['loan_status'], 
                                                               prefix='status').drop(columns=['status_current'])], 
                                                               axis=1)

In [2042]:
df.shape

(108925, 97)

In [2043]:
#'title'

df['title']=df['title'].str.lower().str.replace(' ', '_')

df['title'].value_counts()

pd.get_dummies(df['title'], prefix='title').drop(columns=['title_other'])

df = pd.concat([df.drop(columns='title'), pd.get_dummies(df['title'], 
                                                         prefix='title').drop(columns=['title_other'])], 
                                                               axis=1)

In [2044]:
# df['zip_code_prefix'] = df.zip_code.map(lambda x: x[:3]).astype(int)

# df.drop(columns=['zip_code'], inplace=True)

In [2045]:
df.select_dtypes('object').columns

Index([], dtype='object')

In [2046]:
df.fillna(value=0, inplace=True)

# check null and export

In [2047]:
df.isnull().sum().sum()

0

In [2048]:
null_count = pd.DataFrame(df.isnull().sum()).rename(columns={0:'count'}).sort_values('count')
null_count.loc[null_count['count']>0]

Empty DataFrame
Columns: [count]
Index: []

In [2049]:
df.shape

(108925, 108)

In [2051]:
df.to_csv(path_or_buf='clean/clean_2017Q4.csv', index = False)