In [1]:
import numpy as np 
import pandas as pd 

import matplotlib.pyplot as plt
%matplotlib inline

np.random.seed(42)

from sklearn.model_selection import train_test_split

from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense

from sklearn.ensemble import RandomForestClassifier

from sklearn.preprocessing import StandardScaler, RobustScaler
from sklearn.model_selection import cross_val_score, train_test_split

from imblearn.over_sampling import SMOTE

from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import average_precision_score
from sklearn.metrics import precision_recall_curve

Using TensorFlow backend.

In [36]:
# !pip install imblearn

Collecting imblearn
  Downloading https://files.pythonhosted.org/packages/81/a7/4179e6ebfd654bd0eac0b9c06125b8b4c96a9d0a8ff9e9507eb2a26d2d7e/imblearn-0.0-py2.py3-none-any.whl
Collecting imbalanced-learn
  Downloading https://files.pythonhosted.org/packages/e6/62/08c14224a7e242df2cef7b312d2ef821c3931ec9b015ff93bb52ec8a10a3/imbalanced_learn-0.5.0-py3-none-any.whl (173kB)
     |████████████████████████████████| 174kB 2.6MB/s eta 0:00:01
Requirement already satisfied: scipy>=0.17 in /Users/alicjaligas/anaconda3/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.3.1)
Requirement already satisfied: scikit-learn>=0.21 in /Users/alicjaligas/anaconda3/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (0.21.2)
Requirement already satisfied: joblib>=0.11 in /Users/alicjaligas/anaconda3/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (0.13.2)
Requirement already satisfied: numpy>=1.11 in /Users/alicjaligas/anaconda3/lib/python3.7/site-packages (from imbalanced-learn->imblearn) (1.17.2)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.5.0 imblearn-0.0

In [2]:
df = pd.read_csv('year/year_2018.csv')

In [3]:
df.isnull().sum().sum()

0

In [9]:
df[df.duplicated()]

#no duplicates

Empty DataFrame
Columns: [funded_amnt, int_rate, installment, annual_inc, pymnt_plan, dti, delinq_2yrs, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, recoveries, last_pymnt_amnt, mths_since_last_major_derog, dti_joint, acc_now_delinq, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, inq_fi, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, num_tl_30dpd, num_tl_90g_dpd_24m, num_tl_op_past_12m, pct_tl_nvr_dlq, percent_bc_gt_75, pub_rec_bankruptcies, sec_app_fico_range_low, sec_app_fico_range_high, hardship_flag, debt_settlement_flag, settlement_term, joint_app, income_verified, term_6_yr, grade_B, grade_C, grade_D, grade_E, grade_F, grade_G, emp_length_2, emp_length_3, emp_length_4, emp_length_5, emp_length_6, emp_length_7, emp_length_8, emp_length_9, emp_length_10, mortgage, own, status_charged_off, status_default, status_fully_paid, status_in_grace_period, status_late__16_30_days_, status_late__31_120_days_, title_business, title_car_financing, title_credit_card_refinancing, title_debt_consolidation, title_green_loan, title_home_buying, ...]
Index: []

[0 rows x 107 columns]

In [12]:
df.loc[df['status_default']==1]

,funded_amnt,int_rate,installment,annual_inc,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,...,title_debt_consolidation,title_green_loan,title_home_buying,title_home_improvement,title_major_purchase,title_medical_expenses,title_moving_and_relocation,title_vacation,year,fico_avg
9888,32000.0,12.61,721.73,105000.0,0.0,22.43,3.0,2.0,12.0,0.0,...,1,0,0,0,0,0,0,0,2018,707.0
65016,7000.0,18.06,253.28,21000.0,0.0,50.34,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2018,662.0
67866,20000.0,6.08,609.17,100000.0,0.0,23.18,1.0,0.0,11.0,0.0,...,1,0,0,0,0,0,0,0,2018,697.0
71272,5000.0,16.02,175.84,35000.0,0.0,16.32,0.0,1.0,0.0,0.0,...,0,0,0,0,1,0,0,0,2018,667.0
72467,25000.0,26.30,752.96,81798.0,0.0,6.76,0.0,2.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2018,672.0
153737,13900.0,18.45,356.39,45000.0,0.0,6.03,0.0,2.0,0.0,0.0,...,0,0,0,1,0,0,0,0,2018,672.0
159851,40000.0,14.52,941.55,350000.0,0.0,3.29,0.0,0.0,40.0,0.0,...,1,0,0,0,0,0,0,0,2018,712.0
180874,25000.0,14.07,582.62,124000.0,0.0,9.88,2.0,1.0,14.0,0.0,...,0,0,0,0,0,0,0,0,2018,677.0
297942,13000.0,16.14,457.95,85000.0,0.0,26.91,6.0,1.0,11.0,0.0,...,0,0,1,0,0,0,0,0,2018,712.0
303327,30000.0,20.89,1128.56,109000.0,0.0,27.71,1.0,1.0,17.0,0.0,...,1,0,0,0,0,0,0,0,2018,662.0
334978,4000.0,15.02,138.71,75000.0,0.0,9.42,0.0,2.0,34.0,0.0,...,1,0,0,0,0,0,0,0,2018,662.0
372511,6500.0,7.02,200.77,28000.0,0.0,14.74,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,2018,727.0
386317,32000.0,17.97,812.07,52000.0,0.0,7.06,0.0,1.0,27.0,0.0,...,1,0,0,0,0,0,0,0,2018,667.0
413961,20000.0,16.14,704.53,185000.0,0.0,30.01,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2018,672.0
428470,4800.0,18.94,175.81,34000.0,0.0,19.31,0.0,2.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2018,677.0

In [23]:
15*10

150

In [17]:
df.shape

(452886, 107)

In [22]:
df.loc[df['status_default']==1]

,funded_amnt,int_rate,installment,annual_inc,pymnt_plan,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,...,title_debt_consolidation,title_green_loan,title_home_buying,title_home_improvement,title_major_purchase,title_medical_expenses,title_moving_and_relocation,title_vacation,year,fico_avg
9888,32000.0,12.61,721.73,105000.0,0.0,22.43,3.0,2.0,12.0,0.0,...,1,0,0,0,0,0,0,0,2018,707.0
65016,7000.0,18.06,253.28,21000.0,0.0,50.34,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2018,662.0
67866,20000.0,6.08,609.17,100000.0,0.0,23.18,1.0,0.0,11.0,0.0,...,1,0,0,0,0,0,0,0,2018,697.0
71272,5000.0,16.02,175.84,35000.0,0.0,16.32,0.0,1.0,0.0,0.0,...,0,0,0,0,1,0,0,0,2018,667.0
72467,25000.0,26.30,752.96,81798.0,0.0,6.76,0.0,2.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2018,672.0
153737,13900.0,18.45,356.39,45000.0,0.0,6.03,0.0,2.0,0.0,0.0,...,0,0,0,1,0,0,0,0,2018,672.0
159851,40000.0,14.52,941.55,350000.0,0.0,3.29,0.0,0.0,40.0,0.0,...,1,0,0,0,0,0,0,0,2018,712.0
180874,25000.0,14.07,582.62,124000.0,0.0,9.88,2.0,1.0,14.0,0.0,...,0,0,0,0,0,0,0,0,2018,677.0
297942,13000.0,16.14,457.95,85000.0,0.0,26.91,6.0,1.0,11.0,0.0,...,0,0,1,0,0,0,0,0,2018,712.0
303327,30000.0,20.89,1128.56,109000.0,0.0,27.71,1.0,1.0,17.0,0.0,...,1,0,0,0,0,0,0,0,2018,662.0
334978,4000.0,15.02,138.71,75000.0,0.0,9.42,0.0,2.0,34.0,0.0,...,1,0,0,0,0,0,0,0,2018,662.0
372511,6500.0,7.02,200.77,28000.0,0.0,14.74,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,2018,727.0
386317,32000.0,17.97,812.07,52000.0,0.0,7.06,0.0,1.0,27.0,0.0,...,1,0,0,0,0,0,0,0,2018,667.0
413961,20000.0,16.14,704.53,185000.0,0.0,30.01,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2018,672.0
428470,4800.0,18.94,175.81,34000.0,0.0,19.31,0.0,2.0,0.0,0.0,...,1,0,0,0,0,0,0,0,2018,677.0

In [25]:
from sklearn.utils import resample

In [29]:
new_df = resample(df, replace = False, # sample without replacement
                    n_samples = 150, # match minority n
                    random_state = 27,
                    stratify=df['status_default']) # reproducible results

In [18]:
new_df.drop(columns=[
'status_charged_off',
'status_fully_paid',
'status_in_grace_period',
'status_late__16_30_days_',
'status_late__31_120_days_'], inplace=True)

In [8]:
X = new_df.drop(columns=['status_default'])
y = df['status_default']

In [9]:
print(X.shape)
print(y.shape)

(452886, 101)
(452886,)

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=True,
                                                    random_state=42, stratify=y)

In [20]:
rs = RobustScaler() 
X_train_sc = rs.fit_transform(X_train)
X_test_sc = rs.transform(X_test)

In [24]:
ss = StandardScaler()
X_train_sc = ss.fit_transform(X_train)
X_test_sc = ss.transform(X_test)

In [25]:
rf = RandomForestClassifier(random_state=42, max_features=0.1,
                                criterion="entropy", class_weight="balanced", verbose=1)
#n_estimators=500,
#

rf.fit(X_train_sc, y_train)
(rf.score(X_train_sc, y_train), rf.score(X_test_sc, y_test))

/Users/alicjaligas/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    2.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.2s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed:    0.0s finished

(0.9999941118281596, 0.9999646711769797)

In [27]:
feature_importances = pd.DataFrame(rf.feature_importances_,
                                   index = X_train.columns,
                                    columns=['importance']).sort_values('importance',
                                                ascending=False)

In [34]:
feature_importances.loc[feature_importances['importance']>0.009]

                                importance
all_util                          0.062436
last_pymnt_amnt                   0.055384
open_acc                          0.053731
emp_length_10                     0.048976
installment                       0.047119
annual_inc                        0.045078
pct_tl_nvr_dlq                    0.043491
mths_since_last_delinq            0.042004
mo_sin_old_rev_tl_op              0.041631
bc_util                           0.037763
mths_since_rcnt_il                0.037209
grade_B                           0.029809
mo_sin_rcnt_rev_tl_op             0.028175
mths_since_recent_revol_delinq    0.027735
inq_last_6mths                    0.024583
open_il_12m                       0.019042
num_il_tl                         0.018312
fico_avg                          0.017339
open_rv_24m                       0.015680
il_util                           0.015190
open_rv_12m                       0.014773
inq_last_12m                      0.014653
num_bc_sats                       0.014630
funded_amnt                       0.014352
revol_util                        0.014312
num_actv_bc_tl                    0.014250
mths_since_recent_bc              0.013364
mths_since_last_major_derog       0.012563
num_bc_tl                         0.012313
num_actv_rev_tl                   0.012086
dti                               0.012017
mths_since_recent_inq             0.011262
int_rate                          0.011122
emp_length_2                      0.009283

# ADA BOOST

In [42]:
model = AdaBoostClassifier(random_state=42)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

In [44]:
sum(list(y_pred))

0

In [45]:
sm = SMOTE(random_state=42)
X_train_sm, y_train_sm = sm.fit_sample(X_train, y_train)

In [47]:
model.fit(X_train_sm, y_train_sm)
y_pred = model.predict(X_test)

In [48]:
(model.score(X_train, y_train), model.score(X_test, y_test))

(0.9997055914079797, 0.9996643761813075)

In [51]:
sum(list(y_pred))

34

In [58]:
df_test = pd.read_csv('year/year_2019.csv')

In [59]:
df_test.drop(columns=[
'status_charged_off',
'status_fully_paid',
'status_in_grace_period',
'status_late__16_30_days_',
'status_late__31_120_days_'], inplace=True)

X_ts = df_test.drop(columns=['status_default'])
y_ts = df_test['status_default']

In [60]:
y_ts_pred = model.predict(X_ts)
model.score(X_ts, y_ts)

0.9995124509262016

In [62]:
sum(y_ts_pred)

0

In [12]:
model = Sequential()

#First Hidden Layer
model.add(Dense(100, activation='relu'))

#Second  Hidden Layer
model.add(Dense(50, activation='relu'))

#Output Layer
model.add(Dense(1, activation='sigmoid'))

In [13]:
model.compile(optimizer ='adam',
                   loss='binary_crossentropy', metrics =['accuracy'])

In [15]:
model.fit(X_train,y_train, batch_size=10, epochs=100)

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>

ValueError: Please provide as model inputs either a single array or a list of arrays. You passed: inputs=        funded_amnt  int_rate  installment  annual_inc  pymnt_plan    dti  \
287121      13600.0     11.06       296.11     52000.0         0.0   9.83
130987       6000.0      9.58       192.43     39696.0         0.0   6.35
418743       5000.0     16.91       178.04     62000.0         0.0  24.72
344908       7500.0     18.94       274.70     37500.0         0.0   0.99
194604      10000.0     10.41       324.61     22000.0         0.0  22.53
...             ...       ...          ...         ...         ...    ...
259178      10000.0      8.46       315.50     73500.0         0.0   9.68
365838       5000.0     23.40       194.60     78000.0         0.0  15.63
131932       5000.0      8.08       156.87     80000.0         0.0  11.12
146867      10000.0      9.58       320.71     59800.0         0.0  28.38
121958       8000.0      7.46       248.71     32000.0         0.0  19.69

        delinq_2yrs  inq_last_6mths  mths_since_last_delinq  \
287121          0.0             0.0                    75.0
130987          0.0             0.0                     0.0
418743          1.0             0.0                    19.0
344908          0.0             0.0                    34.0
194604          0.0             1.0                     0.0
...             ...             ...                     ...
259178          0.0             3.0                     0.0
365838          0.0             3.0                     0.0
131932          0.0             0.0                    25.0
146867          0.0             0.0                    72.0
121958          0.0             0.0                     0.0

        mths_since_last_record  ...  title_debt_consolidation  \
287121                     0.0  ...                         0
130987                     0.0  ...                         0
418743                     0.0  ...                         0
344908                     0.0  ...                         1
194604                     0.0  ...                         0
...                        ...  ...                       ...
259178                     0.0  ...                         1
365838                     0.0  ...                         1
131932                     0.0  ...                         0
146867                     0.0  ...                         0
121958                     0.0  ...                         0

        title_green_loan  title_home_buying  title_home_improvement  \
287121                 0                  0                       0
130987                 0                  0                       0
418743                 0                  0                       1
344908                 0                  0                       0
194604                 0                  0                       0
...                  ...                ...                     ...
259178                 0                  0                       0
365838                 0                  0                       0
131932                 0                  0                       0
146867                 0                  0                       0
121958                 0                  0                       0

        title_major_purchase  title_medical_expenses  \
287121                     0                       0
130987                     0                       0
418743                     0                       0
344908                     0                       0
194604                     0                       0
...                      ...                     ...
259178                     0                       0
365838                     0                       0
131932                     0                       0
146867                     0                       0
121958                     0                       0

        title_moving_and_relocation  title_vacation  year  fico_avg
287121                            0               0  2018     687.0
130987                            0               0  2018     677.0
418743                            0               0  2018     677.0
344908                            0               0  2018     677.0
194604                            0               0  2018     707.0
...                             ...             ...   ...       ...
259178                            0               0  2018     742.0
365838                            0               0  2018     682.0
131932                            0               0  2018     697.0
146867                            0               0  2018     672.0
121958                            0               0  2018     767.0

[339664 rows x 101 columns]